.container {
    display: flex;
    flex-direction: column;
}
img {
    display: block;
    max-width: 100%;
}.menu {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
}
.a-upload {
    padding: 4px 10px;
    height: 20px;
    width: 50px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
}
.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
}
#add-link-button {
    font-size: 13px;
    outline:none;
    cursor: pointer;
    height: 30px;
    width: 72px;
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #888;
    margin-right: 10px;
}
#add-link-button:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
}
.search-box {
    margin: auto;
}
#search-input {
    width: 548px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    float: left;
    outline: none;
    border: 2px solid #a7aab5;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
#search-button {
    outline:none;
    width: 108px;
    height: 44px;
    font-size: 17px;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 2px solid #a7aab5;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
}
#link-list {
    display: flex;
    margin: 30px 200px;
    height: 100px;
    padding: 0;
    flex-wrap: wrap;
}
.link-item {
    display: flex;
    width: 200px;
    height: 40px;
    margin: 5px 11px;
    align-items: center;
    justify-content: center;
    border: 1px solid #a7aab5;
    background-color: #fafafa;
}